<nav class="navbar main-nav navbar-expand-lg px-2 px-sm-0 py-2 py-lg-0">
    <div class="container">
        <a class="navbar-brand" href="index.html">Logo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ti-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item @@about">
                    <a class="nav-link" routerLink="/home" >Home</a>
                </li>
                <li class="nav-item @@about">
                    <a class="nav-link" routerLink="/user" *ngIf="isSignedIn" >Blog User</a>
                </li>
                <li class="nav-item @@contact">
                    <a class="nav-link" routerLink="/login" *ngIf="!isSignedIn" >Login</a>
                    <a class="nav-link" (click)="signOut()" *ngIf="isSignedIn" >LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>